.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.action-button {
    height: 3rem;
    aspect-ratio: 1;
    background-color: var(--clr-background);
    padding: 0.5rem;
    border: var(--clr-title) solid 1px;
    border-radius: 10px;

    transition: background-color 0.3s;

    &:hover {
        background-color: var(--clr-highlight);
    }
}