.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 1rem;
}

/* Make the card a global class */
.project-card {
    --project-card-padding: 0.5rem;

    padding: var(--project-card-padding);
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    text-align: center;
    place-items: center;

    & > *:last-child {
        margin-block: var(--project-card-padding);
    }
}

.image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: var(--card-border-radius);
}

.title {
    color: var(--clr-title);
}

.description {
    color: var(--clr-content);
}