.content-wrapper {
	max-block-size: 1500px;
	padding-inline: 1rem;
	margin-inline: auto;
	margin-block: 2rem;
}

.title {
	text-align: center;
}

.title {
	color: var(--clr-title);
	margin-block: 2rem;
}

