.flagship-project-card {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 1rem;
    grid-template-areas: 
    "image title title"
    "image description description"
    "image technologies team";
    padding: var(--project-card-padding);
}

.image {
    grid-area: image;
    border-radius: var(--card-border-radius);
}

.title {
    grid-area: title;
    color: var(--clr-title);
    text-align: center;
}

.description {
    grid-area: description;
    color: var(--clr-content);
    text-align: center;
}

.technologies {
    grid-area: technologies;
}

.team {
    grid-area: team;
}

.technologies, .team {
    display: grid;
    gap: 0.2rem;
    color: var(--clr-content);
}

.person-icon {
    color: var(--clr-title);
}

.subtitle {
    color: var(--clr-title);
}

.section-subtitle {
    color: var(--clr-content);
}

.chips {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.chip {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 0.5rem;
    place-items: center;
}

.chip-icon {
    width: 1rem;
    height: 1rem;
    aspect-ratio: 1;
}

.chip-text {
    text-wrap: nowrap;
    font-weight: bold;
    color: var(--clr-title)
}