.grid {
    display: grid;
    gap: 1rem;
    max-inline-size: 800px;
    margin-inline: auto;
    padding-inline: 1rem;
    justify-items: center;
    text-align: center;
    color: var(--clr-title)
}

.profile-pic {
    border-radius: 100vh;
    border: var(--clr-highlight) solid 5px;
}

.highlight {
    font-weight: bold;
    color: var(--clr-highlight)
}

.location {
    font-weight: bold;
}

.location-icon {
    display: inline-block;
    vertical-align: bottom;
    height: 1.25rem;
    aspect-ratio: 1;
}