.categories {
    max-inline-size: 1500px;
    margin-block: 2rem;
    margin-inline: auto;
    display: flex;
    justify-self: center;
    gap: 0.5rem;
    background-color: var(--clr-content);
    padding: 0.5rem;
    border-radius: 15px;
}

.category {
    background-color: transparent;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    color: var(--clr-title);
    padding: 0.33rem;
}

.selected {
    background-color: var(--clr-highlight);
    border: 0.5px solid var(--clr-title);
}

.skills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    background-color: var(--clr-content);
    border-radius: 15px;
}

.skill {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 0.5rem;
    align-items: center;
}

.icon {
    width: 1rem;
    aspect-ratio: 1;
}

.name {
    color: var(--clr-title);
    text-wrap: nowrap;
    font-weight: bold;
}